{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": true,
      "printWidth": 80,
      "endOfLine":"lf",
      "tabWidth": 2,
      "semi": true,
      "parser": "flow"
    }
  ]
}